export(connectToNetworkManager)
export(connectToPF)
export(conToNM)
export(conToPF)
export(getClassPath)
export(getClassPath.v0)
export(getConNetworkManager)
export(getConPortForwardingApp)
export(getFirstRunningNetworkName)
export(getFRNN)
export(.Last)
export(launchPortForwardingApp)
export(ppe.closeClient)
export(ppe.connectToRStudio)
export(ppe.disconnectNetworkManager)
export(ppe.disconnectRStudio)
export(ppe.getMasterNodeURL)
export(ppe.getNetworkNames)
export(ppe.getNetworkStatus)
export(ppe.getRunningNetworkNames)
export(ppe.launchNetworkManager)
export(ppe.showClients)
export(ppe.shutdown)
export(ppe.shutdownPortForwardingApp)
export(ppe.startClient)
export(ppe.terminateNetwork)
export(sendCmdToNetworkManager)
export(sendPPEManagerCmd)
export(shutdownNetworkManager)
export(shutdownPortForwardingApp)
export(testPFMessaging)
