export(connectToNetworkManager)
export(conToNM)
export(getClassPath)
export(getConNetworkManager)
export(getFirstRunningNetworkName)
export(getFRNN)
export(launchPPEClientApp)
export(ppe.closeClient)
export(ppe.getMasterNodeURL)
export(ppe.getNetworkNames)
export(ppe.getNetworkStatus)
export(ppe.getRunningNetworkNames)
export(ppe.launchNetworkManager)
export(ppe.showClients)
export(ppe.shutdown)
export(ppe.startClient)
export(ppe.terminateNetwork)
export(sendCmdToNetworkManager)
export(sendPPEManagerCmd)
export(shutdownNetworkManager)
